<div class="max-w-sm rounded overflow-hidden shadow-lg">
  <%= image_tag(listing.icon, alt: "#{listing.title} icon", class: "w-10 h-10") %>
  <h3 class="font-bold text-xl mb-2"><%= link_to listing.title, listing.link %></h3>
</div>
