<header class="p-4 flex justify-between items-start">
  <h1 class="font-display text-lg" aria-label="Organic Software Directory">
    <%= link_to root_url, class: "contents" do %>
      <span class="max-md:block max-md:leading-none">Organic</span>
      <span class="max-md:block max-md:leading-none">Software</span>
      <span class="max-md:block max-md:leading-none">Directory</span>
    <% end %>
  </h1>

  <% if current_user %>
    <nav class="flex gap-2 items-baseline">
      <%= link_to "You have #{current_user.invites.remaining} invites", "#" %>
      <%= link_to "@" + current_user.handle, current_user, class: "button" %>
    </nav>
  <% else %>
    <%= link_to "Login", auth_sign_in_path, class: "button" %>
  <% end %>
</header>