<header class="p-4 flex justify-between">
  <h1 class="font-display text-lg">Organic Software Directory</h1>

  <%= link_to "+ Post a Product", new_listing_path, class: "inline-block rounded-lg p-2 leading-none border border-white/10 hover:bg-white/10" %>
</header>