/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * (We don't require tree because of tailwind)
 *= require_self
 */

@font-face {
  src: url("FernVariable-Roman-VF.woff2") format("woff2");
  font-family: "Fern";
  font-style: normal;
  font-weight: 400 800;
}

@font-face {
  src: url("FernVariable-Italic-VF.woff2") format("woff2");
  font-family: "Fern";
  font-style: italic;
  font-weight: 400 800;
}

@font-face {
  src: url("Polliwog-Regular.woff2") format("woff2");
  font-family: "Polliwog";
  font-style: normal;
  font-weight: normal;
}


body {
  font-family: "Polliwog";
}