@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-optical-sizing: auto;
    font-variation-settings: "opsz" 8;
    font-variant-numeric: lining-nums;
  }

  .text-lg,
  .text-xl,
  .text-2xl,
  .text-3xl,
  .text-4xl {
    font-variation-settings: "opsz" 12;
  }

  label {
    @apply block text-sm;
    font-variation-settings: "opsz" 8;
  }

  [disabled],
  .disabled {
    @apply opacity-50 cursor-not-allowed;
  }
}

@layer components {
  .field,
  .input,
  .textarea {
    @apply w-full;
  }

  .input,
  .textarea {
    @apply text-orange-950 border-none
    bg-orange-950/5 focus:bg-orange-950/10
    dark:text-orange-200 dark:bg-white/10 dark:focus:bg-white/20;

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .textarea {
    resize: none;
  }

  .button {
    @apply cursor-pointer
      inline-block rounded-lg p-2 leading-none
      border border-orange-950/10 hover:bg-orange-950/10
        dark:border-white/10 dark:hover:bg-white/10;
  }

  #new-listing-form {
    @apply md:flex gap-2 items-center w-full md:text-xl px-3 py-1 rounded-xl border
      bg-white/20 border-orange-950/5
      focus-within:bg-white/30 focus-within:border-orange-950/10;

    & form {
      @apply contents;
    }

    & .input {
      all: unset;
      font: inherit;
      @apply flex-1;

      &::placeholder {
        font-style: italic;
      }
    }

    & .button {
      @apply border-none bg-amber-500 text-white;
    }
  }

  .comment .comment {
    @apply mt-2;
  }

  .tabs {
    @apply flex justify-start border-b border-black/20 dark:border-white/20;

    a {
      @apply inline-block px-2 border border-black/10 dark:border-white/5 rounded-t -mb-px;
    }

    .active-tab {
      @apply text-orange-900 dark:text-orange-200 border-inherit border-b-orange-100 dark:border-b-orange-950;
    }
  }


}

@layer utilities {
  .small-caps {
    font-variant: all-small-caps;
  }
}
